denomdioxide/bin/*
!denomdioxide/bin/DenomDioxide-app.xml

denomdioxide/.settings/launch

denomdioxide/src/com/tbbgc/denom/common
denomdioxide/src_standalone/com/tbbgc/denom/common

denomdioxide/certs